### **Working with CSV files**

In [ ]:
import pandas as pd

In [ ]:
# USE SELECTED COLUMNS

data = pd.read_csv(r"C:\Users\Subham Pathak\Desktop\AI\ML\DATA_SETS\diabetes.csv", usecols = ['Pregnancies','Glucose'])

In [ ]:
print(data.head())

In [ ]:
data2 = pd.read_csv(r"C:\Users\Subham Pathak\Desktop\AI\ML\DATA_SETS\diabetes.csv")
data2.head(10)

In [ ]:
# Skip Rows

data = pd.read_csv(r"C:\Users\Subham Pathak\Desktop\AI\ML\DATA_SETS\diabetes.csv", skiprows=[0,1,2])
data.head()

In [ ]:
# Nrows

pd.read_csv(r"C:\Users\Subham Pathak\Desktop\AI\ML\DATA_SETS\diabetes.csv", nrows=100)

### **Working with Json Files**

In [ ]:
import pandas as pd

js = pd.read_json(r"C:\Users\Subham Pathak\Desktop\AI\ML\DATA_SETS\recipe\train.json")
js

In [ ]:
# if Json with API

# test = pd.read_json("Api link")
# test.head()

### **Working with SQL**

### **Fetching data from an API**

In [71]:
import numpy as np
import pandas as pd
import requests

In [72]:
request = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=dabe3e9e7f149e502a9e1686b39d74b2')

In [73]:
data = pd.DataFrame(request.json()['results'])

In [74]:
data.shape

(20, 14)

In [92]:
data.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [93]:
new_data = data[['adult', 'title', 'vote_count', 'original_language', 'popularity', 'overview']]

In [94]:
new_data

    adult                                           title  vote_count original_language  popularity                                           overview
0   False                                         The Rip         551                en    567.7608  Trust frays when a team of Miami cops discover...
1   False                                      Dust Bunny          71                en    326.5279  Ten-year-old Aurora asks her hitman neighbor t...
2   False                              Predator: Badlands        1563                en    301.5733  Cast out from his clan, a young Predator finds...
3   False                            Avatar: Fire and Ash        1537                en    260.4923  In the wake of the devastating war against the...
4   False                                         Icefall          89                en    196.7007  A young Indigenous game warden arrests an infa...
5   False                                      Zootopia 2        1133                en    161.3180  After cracking the biggest case in Zootopia's ...
6   False                                   The Housemaid         468                en    177.3814  Trying to escape her past, Millie Calloway acc...
7   False                                        The Tank         251                de    147.1819  A German Tiger tank crew is sent on a dangerou...
8   False                                    Killer Whale          28                en    128.7732  Follows best friends Maddie and Trish as they ...
9   False                               War of the Worlds         856                en    121.0385  Will Radford is a top analyst for Homeland Sec...
10  False  Demon Slayer: Kimetsu no Yaiba Infinity Castle         672                ja    114.2498  The Demon Slayer Corps are drawn into the Infi...
11  False                 28 Years Later: The Bone Temple         186                en    112.0459  Dr. Kelson finds himself in a shocking new rel...
12  False                              Bāhubali: The Epic          24                te     96.4231  When a mysterious child is found by a tribal c...
13  False                                      Trap House         170                en     95.8773  An undercover DEA agent and his partner embark...
14  False                               The Shadow's Edge         312                zh     98.0027  Macau Police brings the tracking expert police...
15  False                 Omniscient Reader: The Prophecy          47                ko     90.9057  Kim Dok-ja, an ordinary man in his 20s, is the...
16  False                   Now You See Me: Now You Don't         925                en     92.8149  The original Four Horsemen reunite with a new ...
17  False     The SpongeBob Movie: Search for SquarePants          77                en     91.8748  Desperate to be a big guy, SpongeBob sets out ...
18  False                                   Rental Family         218                en     70.1452  An American actor in Tokyo struggles to find p...
19  False                                             xXx        4740                en     78.5017  Xander Cage is your standard adrenaline junkie...

In [95]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [ ]:

for i in range(1, 3):
    response = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=dabe3e9e7f149e502a9e1686b39d74b2&page = {}'.format(i))
    temp_data = pd.DataFrame(response.json()['results'])
    df= pd.concat([temp_data], ignore_index = True)
    
    if response.status_code == 200:
        print("Success")
    else:
        print("Error")
        break

In [ ]:
df

    adult                     backdrop_path                  genre_ids       id original_language                               original_title                                           overview  popularity                       poster_path release_date                                           title  video  vote_average  vote_count
0   False  /3F2EXWF1thX0BdrVaKvnm6mAhqh.jpg               [28, 53, 80]  1306368                en                                      The Rip  Trust frays when a team of Miami cops discover...    567.7608  /p4bW2sJKAwcHuLpfoZK7Zo63osA.jpg   2026-01-13                                         The Rip  False         7.075         551
1   False  /AecGG1XVCmkk7fT10ko3FC0dLIP.jpg               [28, 14, 53]  1043197                en                                   Dust Bunny  Ten-year-old Aurora asks her hitman neighbor t...    326.5279  /vobigFZFvbYPf6ElYJu07P9rH8C.jpg   2025-12-11                                      Dust Bunny  False         6.900          71
2   False  /ebyxeBh56QNXxSJgTnmz7fXAlwk.jpg              [28, 878, 12]  1242898                en                           Predator: Badlands  Cast out from his clan, a young Predator finds...    301.5733  /pHpq9yNUIo6aDoCXEBzjSolywgz.jpg   2025-11-05                              Predator: Badlands  False         7.800        1563
3   False  /u8DU5fkLoM5tTRukzPC31oGPxaQ.jpg              [878, 12, 14]    83533                en                         Avatar: Fire and Ash  In the wake of the devastating war against the...    260.4923  /bRBeSHfGHwkEpImlhxPmOcUsaeg.jpg   2025-12-17                            Avatar: Fire and Ash  False         7.343        1537
4   False  /gQimJqYMKCkwHIo8wwYKhmnCfBr.jpg               [28, 80, 53]  1242501                en                                      Icefall  A young Indigenous game warden arrests an infa...    196.7007  /5Byv6nznAb2Izd0gHpODOXnuSbo.jpg   2025-10-16                                         Icefall  False         6.478          89
5   False  /7nfpkR9XsQ1lBNCXSSHxGV7Dkxe.jpg  [16, 35, 12, 10751, 9648]  1084242                en                                   Zootopia 2  After cracking the biggest case in Zootopia's ...    161.3180  /bjUWGw0Ao0qVWxagN3VCwBJHVo6.jpg   2025-11-26                                      Zootopia 2  False         7.591        1133
6   False  /sK3z0Naed3H1Wuh7a21YRVMxYqt.jpg                 [9648, 53]  1368166                en                                The Housemaid  Trying to escape her past, Millie Calloway acc...    177.3814  /qwc6wH49pDytMsYGtcaVM1haYIr.jpg   2025-12-18                                   The Housemaid  False         7.188         468
7   False  /vMxOmgmBGegjVObjlb8ugsjGgkD.jpg            [10752, 28, 18]  1252037                de                                    Der Tiger  A German Tiger tank crew is sent on a dangerou...    147.1819  /65Jr1JAgWlu9em8zHhAfrNJJQBt.jpg   2025-09-18                                        The Tank  False         7.030         251
8   False  /ykigHs1OIyqqV04zfFqIlSHp546.jpg    [53, 27, 28, 9648, 878]  1412598                en                                 Killer Whale  Follows best friends Maddie and Trish as they ...    128.7732  /cqbXxAw9sUr4tJ5ffEwtnz6IL9o.jpg   2026-01-16                                    Killer Whale  False         6.000          28
9   False  /iZLqwEwUViJdSkGVjePGhxYzbDb.jpg                  [878, 53]   755898                en                            War of the Worlds  Will Radford is a top analyst for Homeland Sec...    121.0385  /yvirUYrva23IudARHn3mMGVxWqM.jpg   2025-07-29                               War of the Worlds  False         4.232         856
10  False  /1RgPyOhN4DRs225BGTlHJqCudII.jpg               [16, 28, 14]  1311031                ja                      劇場版「鬼滅の刃」無限城編 第一章 猗窩座再来  The Demon Slayer Corps are drawn into the Infi...    114.2498  /fWVSwgjpT2D78VUh6X8UBd2rorW.jpg   2025-07-18  Demon Slayer: Kimetsu no Yaiba Infinity Castle  False         7.664         672
11  False  /dT1p0K1szMAUBuE2bibouDQdNb8.jpg              [27, 53, 878]  1272837                en              28 Years Later: The Bone Temple  Dr. Kelson finds himself in a shocking new rel...    112.0459  /kK1BGkG3KAvWB0WMV1DfOx9yTMZ.jpg   2026-01-14                 28 Years Later: The Bone Temple  False         7.200         186
12  False  /wCwZ4ljSsWyZyTiyk1tGQtBHTDx.jpg                   [28, 18]  1511417                te                          Baahubali: The Epic  When a mysterious child is found by a tribal c...     96.4231  /z9YIo2qscyaXYgRqIdRJtND3bw8.jpg   2025-10-29                              Bāhubali: The Epic  False         6.021          24
13  False  /oIJjO1CvEdTMFNkWfHaV0RB584G.jpg               [28, 80, 53]   628847                en                                   Trap House  An undercover DEA agent and his partner embark...     95.8773  /6tpAPeuuqbVnYWWPoOLEDLSBU7a.jpg   2025-11-14                                      Trap House  False         6.594         170
14  False  /4BtL2vvEufDXDP4u6xQjjQ1Y2aT.jpg           [28, 80, 18, 53]  1419406                zh                                         捕风追影  Macau Police brings the tracking expert police...     98.0027  /e0RU6KpdnrqFxDKlI3NOqN8nHL6.jpg   2025-08-16                               The Shadow's Edge  False         7.100         312
15  False   /tVwFrpeGPYyk75rS82benPjtK6.jpg               [28, 12, 14]  1131759                ko                                    전지적 독자 시점  Kim Dok-ja, an ordinary man in his 20s, is the...     90.9057  /3R3dXO2nm8JyR5NG7SEfii7RzlV.jpg   2025-07-23                 Omniscient Reader: The Prophecy  False         6.600          47
16  False  /ufqytAlziHq5pljKByGJ8IKhtEZ.jpg             [53, 80, 9648]   425274                en                Now You See Me: Now You Don't  The original Four Horsemen reunite with a new ...     92.8149  /oD3Eey4e4Z259XLm3eD3WGcoJAh.jpg   2025-11-12                   Now You See Me: Now You Don't  False         6.584         925
17  False  /kVSUUWiXoNwq2wVCZ4Mcqkniqvr.jpg    [16, 10751, 35, 12, 14]   991494                en  The SpongeBob Movie: Search for SquarePants  Desperate to be a big guy, SpongeBob sets out ...     91.8748  /pDWYW9v8fmJdA7N0I1MOdQA3ETq.jpg   2025-12-16     The SpongeBob Movie: Search for SquarePants  False         6.400          77
18  False  /ufuabtiOem0kHeYz6b8x8MjBb2L.jpg                   [35, 18]  1208348                en                                Rental Family  An American actor in Tokyo struggles to find p...     70.1452  /A5lswNlytTUrnMWsuD0NFfhZlf3.jpg   2025-11-20                                   Rental Family  False         7.750         218
19  False  /2OHa6ukEq3Hce7Pc2kvu8wkmMFY.jpg       [28, 12, 53, 80, 18]     7451                en                                          xXx  Xander Cage is your standard adrenaline junkie...     78.5017  /xeEw3eLeSFmJgXZzmF2Efww0q3s.jpg   2002-08-09                                             xXx  False         6.000        4740

#### **Better way**

In [ ]:
# import pandas as pd
# import requests
# import time


# API_KEY = 'dabe3e9e7f149e502a9e1686b39d74b2'
# url = 'https://api.themoviedb.org/3/movie/popular'

# all_movies = []

# for page in range(1, 100):
    
#     params = {
#         'api_key': API_KEY,
#         'page' : page
#     }
    
#     response = requests.get(url, params=params, timeout=10)
    
#     if response.status_code == 200:
#         data = response.json()
#         all_movies.extend(data['results'])
#         print(f"Page {page} fetched successfully!")
        
#     else:
#         print("Error:", response.status_code)
#         break
    
#     time.sleep(0.3)
    
# df = pd.DataFrame(all_movies)
# df.head()